# Server Configuration
PORT=3100
PARTNER_ID=
# One Click API
ONE_CLICK_API_URL=https://1click-api.chaindefuser.com
ONE_CLICK_API_KEY=

# POA Bridge API (for deposit detection)
POA_BRIDGE_API_URL=https://poa-bridge.chaindefuser.com/rpc

# Database
DATABASE_PATH=./rda.sqlite

# Defaults
DEFAULT_SLIPPAGE_TOLERANCE=100
DEFAULT_DEADLINE_YEARS=10
